:root {
  --bg: #acacac;
  --text: #33312e;
  --border: #4d4b48;
  --hl-bg: #afafaf;
  --hl-text: #7a2e22;
}

@media (prefers-color-scheme: dark) {
  body[a="auto"] {
    --bg: #1b1b1a;
    --text: #d8d5cd;
    --border: #4a4844;
    --hl-bg: #23241f;
    --hl-text: #f92672;
  }
}

body[a="dark"] {
  --bg: #1b1b1a;
  --text: #d8d5cd;
  --border: #4a4844;
  --hl-bg: #23241f;
  --hl-text: #f92672;
}

html, body { background: var(--bg); }

html { height: 100%; scroll-behavior: smooth; }

body {
  color: var(--text);
  font-family: monospace;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
}

.post-meta { text-align: right; }

h2, h3, h4, h5, h6 { margin-top: 3rem; }

hr { margin: 2rem 0; }

p { margin: 1rem 0; }

li { margin: 0.4rem 0; }

*:target { background: yellow; }

.w {
  max-width: 640px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

hr {
  text-align: center;
  border: 0;

  &:before { content: '/////' }
  &:after { content: attr(data-content) '/////' }
}

table { width: 100%; }

table, th, td {
  border: thin solid var(--border);
  border-collapse: collapse;
  padding: 0.4rem;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}